
	<md-tabs md-no-ink md-dynamic-height="" md-border-bottom="">
		<!--<md-tab label="Principal">
		 <div layout-xs="column" layout-sm="column" layout="row" layout-align="center center">
			  <md-card class="card_primary" md-theme="default" md-theme-watch ng-repeat="warehouse in dshb.warehouses">
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline md-accent">{{warehouse.name}}</span>
		            <span class="md-subhead">Productos: {{warehouse.numOfProducts}}</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-sm scard-media">
		            	<img src="assets/svg/warehouse (1).svg" alt="" class="md-card-image">
		            </div>
		          </md-card-title-media>
		        </md-card-title>
		        <md-card-actions layout="row" layout-align="end center">
		          <md-button class="md-fab md-mini" aria-label="Agregar Items">
		          	<md-icon md-svg-src="assets/svg/ic_note_add_black_24px.svg"></md-icon>	
		          </md-button>
		          <md-button class="md-fab md-mini" aria-label="Quitar Items">
		          	<md-icon md-svg-src="assets/svg/ic_input_black_24px.svg"></md-icon>	
		          </md-button>
		        </md-card-actions>
		      </md-card>
		 </div>
		</md-tab>-->
		<md-tab label="Productos">
	    	  <div layout="row">
		    	 <div ng-show="!dshb.showNewTypeForm && !dshb.showNewBrandForm">
		    		<md-button class="md-fab md-mini" aria-label="Favorite" ng-click="dshb.openCreateProductDialog(ev)">
			          <md-icon md-svg-icon="assets/svg/ic_note_add_black_24px.svg"></md-icon>
			        </md-button>
			        <md-input-container class="md-block" flex-gt-sm>
	            		<label>Busca producto</label>
	            		<input ng-model="dshb.productSearch">
	          		</md-input-container>
		    	 </div> 
		    	 <div class="row" ng-show="dshb.showNewTypeForm">
		    	 	<md-button class="md-fab md-mini" aria-label="back to list" ng-click="dshb.showNewTypeForm = !dshb.showNewTypeForm">
		    	 		<md-icon md-svg-icon="assets/svg/ic_arrow_back_black_24px.svg"></md-icon>
		    	 	</md-button>
		    	 	<h3>Tipos de Productos</h3>
		    	 </div>
		    	 <div class="row" ng-show="dshb.showNewBrandForm">
		    	 	<md-button class="md-fab md-mini" aria-label="back to list" ng-click="dshb.showNewBrandForm = !dshb.showNewBrandForm">
		    	 		<md-icon md-svg-icon="assets/svg/ic_arrow_back_black_24px.svg"></md-icon>
		    	 	</md-button>
		    	 	<h3>Marcas</h3>
		    	 	
		    	 </div>



		        <span flex></span>
		        <md-button ng-show="!dshb.showNewTypeForm && !dshb.showNewBrandForm" class="md-fab md-mini" aria-label="Favorite" ng-click="dshb.showNewTypeForm =!dshb.showNewTypeForm">
		          <md-icon md-svg-icon="assets/svg/ic_merge_type_white_24px.svg" style="color: greenyellow;"></md-icon>
		        </md-button>

		        <md-button ng-show="!dshb.showNewTypeForm && !dshb.showNewBrandForm" class="md-fab md-mini" aria-label="Favorite" ng-click="dshb.showNewBrandForm=!dshb.showNewBrandForm">
		          <md-icon md-svg-icon="assets/svg/ic_branding_watermark_white_24px.svg" style="color: greenyellow;"></md-icon>
		        </md-button>

			</div>
			<div ng-show="dshb.showNewTypeForm">
				<md-input-container>
			        <label>Nombre</label>
			        <input ng-model="dshb.name" type="text">
		      	</md-input-container>
			      <md-input-container>
			        <label>Description</label>
			        <input ng-model="dshb.description" type="text">
			      </md-input-container>
				  <md-input-container>
				  <md-button class="md-primary md-raised md-hue-2" ng-click="dshb.addType(dshb.name, dshb.description)">Agregar Tipo</md-button>

			     </md-input-container>		      
    		</div>	

			<div ng-show="dshb.showNewBrandForm">
				<md-input-container>
			        <label>Nombre</label>
			        <input ng-model="dshb.name" type="text">
		      	</md-input-container>
		      	<md-input-container>
				  <md-button class="md-primary md-raised md-hue-2" ng-click="dshb.addBrand(dshb.name)">Agregar Marca</md-button>

			     </md-input-container>	
    		</div>	
    		<md-list ng-show="dshb.showNewTypeForm">
				<md-list-item class="md-3-line" ng-repeat="t in dshb.typesList" ng-click="null">
					<!--<img ng-src="{{product.img}}?{{$index}}" alt="{{producto.description}}" class="md-avatar">-->
					<div class="md-list-item-text" layout="column">
						<h4>{{$index + 1}}.  {{ t.name }}</h3>
						<h4>{{ t.description}}</h4>
					</div>
				</md-list-item>
				<md-divider></md-divider>
    		</md-list>

    		<md-list ng-show="dshb.showNewBrandForm">
				<md-list-item class="md-3-line" ng-repeat="t in dshb.brandList" ng-click="null">
					<!--<img ng-src="{{product.img}}?{{$index}}" alt="{{producto.description}}" class="md-avatar">-->
					<div class="md-list-item-text" layout="column">
						<h4>{{$index + 1}}.  {{ t.name }}</h3>
						<h4>{{ t.description}}</h4>
					</div>
				</md-list-item>
				<md-divider></md-divider>
    		</md-list>

			<md-list class="md-dense" flex="" ng-show="!dshb.showNewTypeForm && !dshb.showNewBrandForm" ng-repeat="tpl in dshb.theProductList">
				<md-subheader class="md-no-sticky">{{tpl.typeName}}
				</md-subheader>				
				<md-list-item class="md-3-line" ng-repeat="product in tpl.productList | filter:dshb.productSearch" ng-click="null">
					<img ng-src="{{product.img}}?{{$index}}" alt="{{producto.description}}" class="md-avatar">
					<div class="md-list-item-text" layout="column">
						<h3>{{ product.name }}</h3>
						<h4>{{ product.sellPrice}}</h4>
						<p>{{  product.brand.name}}</p>
					</div>
					<span flex></span>

			        <md-icon md-svg-icon="assets/svg/ic_note_add_white_24px.svg" class="md-secondary" ng-click=""></md-icon>
			        <md-icon md-svg-icon="assets/svg/ic_mode_edit_white_24px.svg" class="md-secondary md-hue-3" ng-click=""></md-icon>
			        <md-icon class="md-secondary" ng-click="dshb.openRemoveProductDialog($index, tpl.productList)" md-svg-icon="assets/svg/ic_delete_forever_white_24px.svg"></md-icon>

					<!--<md-button class="md-secondary md-hue-3" aria-label="Delete product" ng-click="">-->
						
					<!--</md-button>-->
				</md-list-item>
				<md-divider></md-divider>
				<!--
				<md-subheader class="md-no-sticky">Materiales</md-subheader>
				<md-list-item class="md-3-line" ng-repeat="product in dshb.productList | filter:dshb.productSearch" ng-click="null">
					<img ng-src="{{product.img}}?{{$index}}" alt="{{producto.description}}" class="md-avatar">
					<div class="md-list-item-text" layout="column">
						<h3>{{ product.name }}</h3>
						<h4>{{ product.sellPrice}}</h4>
						<p>{{  product.brand.name}}</p>
					</div>
				</md-list-item>
				<md-subheader class="md-no-sticky">Otros</md-subheader>
				<md-list-item class="md-3-line" ng-repeat="product in dshb.productList | filter: dshb.productSearch" ng-click="null">
					<img ng-src="{{product.img}}?{{$index}}" alt="{{producto.description}}" class="md-avatar">
					<div class="md-list-item-text" layout="column">
						<h3>{{ product.name }}</h3>
						<h4>{{ product.sellPrice}}</h4>
						<p>{{product.brand.name}}</p>
					</div>
				</md-list-item>-->

			</md-list>

		</md-tab>

		<!--<md-tab label="Clientes">
		</md-tab>-->
		<md-tab label="Proveedores">
			<div layout="row">
		        <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="dshb.openCreateProviderDialog($event)">
		          <md-icon md-svg-icon="assets/svg/ic_note_add_black_24px.svg"></md-icon>
		        </md-button>
		        <md-input-container class="md-block" flex-gt-sm>
            		<label>Busca proveedor</label>
            		<input ng-model="dshb.providerSearch">
          		</md-input-container>

			</div>
			<div layout="row">
				<p>{{dshb.message}}</p>
			</div>
			<md-list class="md-dense" flex="">
				<!--<md-subheader class="md-no-sticky">Repuestos</md-subheader>-->
				<md-list-item class="md-3-line" ng-repeat="provider in dshb.providerList | filter:dshb.providerSearch" ng-click="null">
					<img ng-src="{{provider.img}}?{{$index}}" alt="{{provider.description}}" class="md-avatar">
					<div class="md-list-item-text" layout="column">
						<h3>{{ provider.name }}</h3>
						<h4>{{ provider.description}}</h4>
						<p>{{provider.address}}</p>
						<md-icon md-svg-icon="assets/svg/ic_delete_forever_white_24px.svg" aria-label="Delete Provider" class="md-secondary md-hue-3" ng-click="dshb.openDeleteProviderDialog($index)"></md-icon>
					</div>
				</md-list-item>
			<md-divider></md-divider>

		</md-tab>

</md-tabs>
