<div layout="row" layout-xs="row" layout-align="center" flex>
    <md-progress-circular ng-disabled="!lg.loading" ng-show="lg.loading" md-mode="indeterminate" md-diameter="20"></md-progress-circular>
</div>
<div class="row">
    <form action="" name="loginForm">
        <md-input-container class="md-block" flex-gt-sm>
            <label for="">Usuario</label>
            <input type="text" ng-model="lg.user">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label for="">Contraseña</label>
            <input type="password" ng-model="lg.password">
        </md-input-container>

         <md-input-container class="md-block" layout-align="center center" flex-gt-sm>
             <md-button class="md-warn md-raised" ng-click="lg.sessionInit()">Iniciar Sesion</md-button>
        </md-input-container>
    </form>
</div